   * {
       box-sizing: border-box;
   }
   
   #studio {
       background: url("../img/backgrounds/h_img.jpg") center, center/cover;
       text-align: center;
       color: white;
       text-transform: uppercase;
   }
   
   h1 {
       text-transform: uppercase;
       text-align: center;
   }
   
   #services {
       background: url("../img/backgrounds/s_image.jpg") center, center/cover;
       color: white;
       text-align: center;
       padding-top: 200px;
       padding-bottom: 100px;
   }
   
   .Contacts {
       background: url("../img/backgrounds/c_image.jpg") center, center/cover;
   }
   
   .port1 {
       display: flex;
       justify-content: space-between;
       text-align: center;
       margin-right: 1px;
       margin-left: 1px;
   }
   
   .port2 {
       display: flex;
       justify-content: space-between;
       text-align: center;
       margin-top: 15px;
       margin-right: 1px;
       margin-left: 1px;
   }
   
   #des,
   #dev,
   #prod {
       display: none;
   }
   
   .text {
       transform: translate(-50%, -50%);
       position: absolute;
       font-size: 1.5em;
       display: none;
       margin: -50% 25%;
   }
   
   .text1,
   .text2,
   .text3,
   .text4,
   .text5,
   .text6,
   .text7,
   .text8 {
       margin-top: -80px;
       scroll-margin-left: 80px;
       display: none;
       color: deeppink;
       font: 120px;
   }
   
   .pic:hover {
       opacity: 0.2;
   }